# Traducción columna *Region* - Libreria **deepL**

### Importamos la libreria **deepL** utilizando la *auth_key*


Enlace con toda la info
https://github.com/DeepLcom/deepl-python

In [2]:
import deepl

import pandas as pd
import numpy as np
import re

import os
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
auth_key = os.getenv("auth_key")

In [4]:
translator = deepl.Translator(auth_key)

In [5]:
pd.options.display.max_columns = None

Utilizamos una copia del fichero original.

In [6]:
df = pd.read_csv("world_risk_index copy.csv")

In [7]:
df.head(2)

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category
0,Vanuatu,32.00,56.33,56.81,37.14,79.34,53.96,2011,Very High,Very High,High,High
1,Tonga,29.08,56.04,51.90,28.94,81.80,44.97,2011,Very High,Very High,Medium,Medium

Calculamos el numero de digitos/letras que tenemos en la columna *Region* porque **deepL** nos permite traducir
un maximo de 500.000 caracteres al mes.

In [8]:
lista_region = []

for i in df["Region"]:
    lista_region.append(i)

In [9]:
lista_region_string = ",".join(map(str,[lista_region]))

In [10]:
total_letters = len(re.findall('[A-z]', lista_region_string))
    # iterate through all characters
print(f"El total de las leteras en la columnas Region es de {total_letters}")

El total de las leteras en la columnas Region es de 16359

--------------------------------------

In [11]:
#calculo el numero de unique para paragonarlo al traducido y al limpiado
region_unique = df["Region"].describe()[1]
print(f"El numero inicial de paises unicos es de {region_unique}")

El numero inicial de paises unicos es de 306

-------------------------------

Formula para traducir los paises en la columna *Region*

In [12]:
def traducir(columna):
        columna = columna.lower()
        english = translator.translate_text(columna, target_lang = "EN-GB")
        return english

----------------

In [13]:
#dataframe para testar la traducion
df_test = df.sample(10)
df_test.shape

(10, 12)

In [14]:
df_test["region_lower"] = df_test["Region"].apply(traducir)
df_test

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category,region_lower
595,Colombia,6.83,13.84,49.34,28.82,75.11,44.07,2014,Medium,Medium,Medium,Medium,colombia
511,Island,1.55,5.67,27.34,14.74,43.16,24.11,2015,Very Low,Very Low,Very Low,Very Low,island
748,Albanien,8.23,19.77,41.63,20.10,74.77,30.03,2021,Very High,High,Low,Low,albanien
1133,Samoa,6.19,13.04,47.50,25.52,79.70,37.27,2019,Medium,Medium,Medium,Medium,samoa
133,Kroatien,3.71,11.17,33.22,16.63,50.69,32.35,2011,Low,Low,Very Low,Low,croatia
1443,Mosambik,9.09,12.73,71.37,67.63,84.91,61.58,2012,Medium,High,Very High,Very High,mosambik
1109,Algerien,7.66,16.76,45.71,20.88,78.35,37.89,2019,High,High,Medium,Medium,Algeria
10,Nicaragua,15.74,27.64,56.94,41.23,83.00,46.59,2011,Very High,Very High,High,High,nicaragua
698,Kap Verde,17.72,37.23,47.59,28.86,72.71,41.21,2021,Very High,Very High,Medium,High,cap verde
22,Honduras,12.10,21.81,55.50,37.61,80.03,48.85,2011,Very High,Very High,High,High,honduras

In [15]:
malawi = df_test[df_test["region_lower"] == "colombia"]
malawi

Empty DataFrame
Columns: [Region, WRI, Exposure, Vulnerability, Susceptibility, Lack of Coping Capabilities,  Lack of Adaptive Capacities, Year, Exposure Category, WRI Category, Vulnerability Category, Susceptibility Category, region_lower]
Index: []

In [16]:
def quitar_espacios_lower(columna):
        columna = str(columna)
        columna = columna.strip().lower()
        return columna

In [17]:
df_test["region_lower"] = df_test["region_lower"].apply(quitar_espacios_lower)

In [18]:
malawi = df_test[df_test["region_lower"] == "colombia"]
malawi

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category,region_lower
595,Colombia,6.83,13.84,49.34,28.82,75.11,44.07,2014,Medium,Medium,Medium,Medium,colombia

----------------------------------------------------------

# Traducción del entero *DataFrame*

In [19]:
df["countries"] = df["Region"].apply(traducir)

In [21]:
df.sample(10)

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category,countries
1475,Lesotho,7.22,11.40,63.33,50.87,81.83,57.30,2012,Low,Medium,High,Very High,lesotho
442,Jemen,6.00,9.04,66.32,44.57,90.51,63.89,2015,Very Low,Medium,Very High,High,Yemen
883,Fidschi,13.50,27.71,48.74,25.34,75.17,45.72,2017,Very High,Very High,Medium,Medium,fiji
500,Schweiz,2.46,9.56,25.73,14.57,37.78,24.84,2015,Low,Very Low,Very Low,Very Low,switzerland
1517,Australien,4.57,15.05,30.38,14.39,41.87,34.88,2012,High,Low,Very Low,Very Low,Australian
1731,Singapur,2.31,8.56,26.98,11.89,47.73,21.31,2018,Very Low,Very Low,Very Low,Very Low,Singapore
957,Malaysia,6.47,14.60,44.27,19.85,68.17,44.80,2017,High,Medium,Low,Low,malaysia
484,Polen,3.27,9.79,33.45,17.40,53.11,29.84,2015,Low,Very Low,Very Low,Low,logs
817,Bulgarien,4.16,11.93,34.90,21.11,58.78,24.80,2021,Low,Low,Low,Low,Bulgarian
769,Griechenland,6.93,22.23,31.18,17.42,58.93,17.20,2021,Very High,Medium,Very Low,Low,greece

In [22]:
df["countries"] = df["countries"].apply(quitar_espacios_lower)

In [23]:
df.head()

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category,countries
0,Vanuatu,32.00,56.33,56.81,37.14,79.34,53.96,2011,Very High,Very High,High,High,vanuatu
1,Tonga,29.08,56.04,51.90,28.94,81.80,44.97,2011,Very High,Very High,Medium,Medium,tonga
2,Philippinen,24.32,45.09,53.93,34.99,82.78,44.01,2011,Very High,Very High,High,High,philippinen
3,Salomonen,23.51,36.40,64.60,44.11,85.95,63.74,2011,Very High,Very High,Very High,High,solomon islands
4,Guatemala,20.88,38.42,54.35,35.36,77.83,49.87,2011,Very High,Very High,High,High,guatemala

In [24]:
df["countries"].describe()[1]
#unicos en countries = 235

235

In [25]:
df["Region"].describe()[1] - df["countries"].describe()[1]
#diferencia con Region

71

Guardamos el fichero para no tener que traducir otra vez.

In [26]:
df.to_csv('world_risk_translate.csv') #Guardamos el csv con los cambios

----------

Utilizamos el nuevo *DataFrame*

In [27]:
df_traducido = pd.read_csv("world_risk_translate.csv", index_col=0)

In [28]:
df_traducido.sample()

,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category,countries
516,Katar,0.08,0.28,30.13,9.04,44.88,36.47,2015,Very Low,Very Low,Very Low,Very Low,katar

In [29]:
col = df_traducido.pop('countries')
df_traducido.insert(loc= 0 , column= 'countries', value= col)
df_traducido.sample()
#ponemos la columna countries al principio para que sea más facil averiguar la traduccion

,countries,Region,WRI,Exposure,Vulnerability,Susceptibility,Lack of Coping Capabilities,Lack of Adaptive Capacities,Year,Exposure Category,WRI Category,Vulnerability Category,Susceptibility Category
1752,brunei darussalam,Brunei Darussalam,17.0,41.1,41.36,17.4,63.17,43.53,2016,Very High,Very High,Low,Low

Nos enteramos que hay paises que están en idiomas que el perfil gratis de *deepL* no permite traducir.  
  
Decidimos de revisar si hay algun patron, pero al no encontrar, decidimos revisar la lista y sustituir con el nombre correcto.  

P.S. las formulas arriba están con # para que no se haga dificil leer el fichero desce el *GitHub*

In [30]:
df_traducido['countries'] = df_traducido['countries'].replace(['albanien','antigua und barbuda','armenien','australian','bangladesch','bulgarian','cap verde','chamber','columbien','democratic republic of congo','Kongo','eswatini','federated states v. micronesia',"gabun",'i am','indien'], 
 ['albania','antigua and barbuda','armenia','australia','bangladesh','bulgaria','cape verde','comoros','colombia','congo','congo','swaziland','federated states of micronesia',"gabon",'benin','india'])

In [31]:
df_traducido['countries'] = df_traducido['countries'].replace(['niederlande','noseeeland','philippinen','please contact','russian federation','sambia','seychellen','simbabwe','spanien','st. vincent and the grenadines','st. vincent u. die grenadinen','swasiland','t. f. yugo. rep. of macedonia','ver. arab emirates','viet Nam'], 
                                                              ['netherlands','new zealand','philippines','suriname','russia','zambia','seychelles','zimbabwe','spain','saint vincent and the grenadines','saint vincent and the grenadines','swaziland','macedonia',"united arab emirates",'vietnam'])

In [32]:
df_traducido['countries'] = df_traducido['countries'].replace(['syrian','syrian arab republic','são tomé and príncipe','são tomé und príncipe','tadschikistan','trinidad und tobago','united states', 'united states v. a.' ,"viet took"], 
                                                              ['syria','syria','sao tome and principe','sao tome and principe','tajikistan','trinidad and tobago','united states of america','united states of america','viet Nam'])

In [33]:
df_traducido['countries'] = df_traducido['countries'].replace(['indonesien','iran (islamic republic of)','irland','island','italian','jordanien','korea republic of','korea republic of 4.59',"lao people's democ. republic","lao people's democratic republic",'libyan arab jamahiriya','logs','mauretanien','moldawien','republic of moldova','mongolei','north macedonia','surinam'], 
 ['indonesia','iran','ireland','iceland','italy','jordan','south korea','south korea','laos','laos','libya','poland','mauritania','moldova','moldova','mongolia','macedonia',"suriname"])

In [34]:
df_traducido['countries'] = df_traducido['countries'].replace(["cote d'ivoire",'kongo','republic of macedonia','mosambik','united republic of tanzania',], 
 ['ivory coast','congo','macedonia','mozambique','tanzania'])

In [35]:
df_traducido['countries'] = df_traducido['countries'].replace(['viet Nam',"soil"],["vietnam","jordan"])

In [36]:
df_traducido["countries"].describe()[1]
#hemos conseguido tener 181 unique!

181

In [38]:
df_traducido["Region"] = df_traducido["countries"]

In [42]:
df_traducido.drop("countries", axis=1, inplace=True)

In [46]:
df_traducido.to_csv('world_risk_translate_final.csv') #Guardamos el csv con los cambios

In [47]:
df_traducido.to_csv("../datos/world_risk_translate.csv") #Guardamos el fichero en el la carpeta de datos